NODE_ENV=development
PORT=4000
MONGODB_URL=mongodb://127.0.0.1:27017/bavo_stock
CLIENT_URL=*
JWT_SECRET=replace_with_strong_secret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
ENABLE_DOCS=true
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=Admin@123456
